:root  {
  font-family: 'Pokemon Solid', sans-serif;
  --body-background-color:  #f3f6f4;
  --pokemon-yellow:  #ffcb05;
  --pokemon-blue:  #2A75BB;
  --modal-background: #fff999;
  --hover-color: #9fc5e8;
  }

body  {
  background-color: var(--body-background-color);
}

.navbar  {
  background-color: var(--pokemon-blue);
}

.page-container {
  margin-top: 120px;
}

.pokemon-list  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
  list-style: none;
}

/* fixes for bootstrap styles */
.list-group-item {
  padding: 0;
  border: 0px;
  background-color: transparent;
}

.pokemon-button  {
  background-color: var(--pokemon-yellow);
  color: var(--pokemon-blue);
  min-width: 150px;
  font-size: 25px;
  transition: .4s;
  border-radius: 5%;
  border: 5px solid var(--pokemon-blue);
  padding: 5px;
}

.pokemon-button > img {
  width: 90px;
  height: 90px;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  background-color: var(--hover-color);
}

h5 {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 10px;
}

.modal-content {
  margin: auto;
  display: inline-block;
  width: 100%;
  padding: 10px;
  background-color: var(--pokemon-yellow);
  color: var(--pokemon-blue);
  font-size: 25px;
  text-align: center;
  border-radius: 5%;
  border: 5px solid var(--pokemon-blue);
}

.modal-img {
  max-width: 200px;
}

.close-button {
  text-align: center;
  border-radius: 5%;
  border: 2px solid var(--pokemon-blue);
  color: var(--pokemon-blue);
  background-color: white;
}

.modal-footer {
  border: transparent
}

@media all and (max-width: 550px) {
  .pokemon-list {
    grid-template-columns: 1fr;
  }
  .pokemon-button {
  width: 225px;
  height: 225px;
  }

}

@media all and (min-width: 550px) and (max-width: 750px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
