:root  {
  --headings: #ada5df;
  --body-background-color:  #f3f6f4;
  --button-background-color:  #D4EBBF
}

body  {
  background-color: var(--body-background-color);
  font-family:  'Merriweather', serif;
  line-height: 1.5;
}

.page-header  {
  display: flex;
  padding: 0;
  height: 200px;
  width: 100%;
  }

.page-header__logo  {
  padding: 25px;
  width:  175px;
  height: 175px;
}

h1  {
  font-size: 40px;
  color: var(--headings);
}

.button-class {
  background-color: var(--button-background-color);
  color: black;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid
}
